  * {
    margin: 0px;
  }
  .header {
    background-image: url(images/banner/banner3.png);
    border: 1px solid black;
    width: 1600px;
    height: 808px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .section {
    border: 1px solid black;
    width: 1140px;
    height: 723px;
    margin: 130px 230px;
    align-items: center;
  }
  
  .section3 {
    border: 1px solid black;
    width: 1140px ;
    height: 300px ;
    margin: 130px 230px;
  }

  .footer {
    border: 1px solid black;
    width: 1600px ;
    height: 577px ;
    margin-top: 130px;
  }

  .div1 {
    position: absolute;
    width: 725px;
    height: 228px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    text-align: right;
    color: #FFFFFF;
    margin:  216px 200px 364px 700px ;
  }
  
  .p1 {
    position: absolute;
    width: 494px;
    height: 78px;
    font-family: work 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 350px;
    line-height: 26px;
    font-size: 20px;
    margin: 24px 200px 0px 230px;

  }

  .cont-btn {
    position: absolute;
    top: 378px;
    left: 560px;
    height: 64px;
    width: 160px;
    font-family: work 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: 700px;
    font-size: 25px;
    color: #005FAC ;
    border-color: aqua;
    border-radius: 7pt;
    margin-top: 20px;
  }

  .div_in_main {
    position: absolute;
    height: 723;
    width: 559;
    left: 206px;
    top: 939px;
  }

  .article1 {
    position: absolute;
    width: 500px;
    height: 450px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: 500px;
    font-size: 30px;
    line-height: 50px;
    left: 860px;
    top: 1100px;
    color:#444343;
    ;
  }

  .article1 h1 {
    color: #151414;
  }

  .list{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    margin-top: 20px;
    list-style-type: square;
  }

  .article2 {
    position: absolute;
    width: 500px;
    height: 450px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: 500px;
    font-size: 30px;
    line-height: 50px;
    left: 860px;
    top: 1950px;
    color:#444343;
    ;
  }

  .article2 h1 {
    color: #000b0f;
  }